if SHIELD_KLEIN_RIGHT

config ZMK_KEYBOARD_NAME
    default "klein"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_KLEIN_LEFT || SHIELD_KLEIN_RIGHT

config ZMK_SPLIT
    default y

endif
